

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;


}

*::selection{
    background-color: #8EADD5;
}

body{
    background-color: #F5F5F5;
    font-size: 20px;
    color: #272D38;
}

a{
    text-decoration: none;
    color: #272D38;
}

/* Cabecera */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px;
    width: 100%;
}

header div p{
    font-weight: 600;
    text-align: center;
}


.navigation{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;

}

.menu{
    display:none;
}

/* Landing Page */

#hero {
    background-color: var(--rtc-background-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
}

/* izquierda */
.info {
    width: 40%;
    min-width: 516px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* derecha */
#hero > img {
    width: 30%;
    max-width: 500px;
    min-width: 300px;
}

.info > h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.button{
    background-color: #8EADD5;
    color: white;
    border-radius: 8px;
    padding: 10px;
    width: 167px;
    height: 48px;
    border: 0;
    margin-top: 30px;
}

@media (max-width: 570px) {
    .info > h1 {
        font-size: 30px;
    }
    .info {
        width: 100%;
        min-width: 0px;
    }
}

@media (max-width:750px) {
    .navigation{
        display: none;
    }
    .menu{
        display: block;
    }
}

@media (max-width:420px) {
    header div p{
        font-size: 15px;
    }
    header{
        padding: 20px 50px;
    }
}

/* Sección Bottom Landing Page */

.trusted {
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 13px;
    color: #667085;
    margin-bottom: 20px;
}

.section-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.companies{
    background-color: #c7c7c72a;
    border-radius: 8px;
    display: flex;
    justify-content:center;
    padding: 20px;
    width: 70%;
    gap: 10%;

}

.companies img{
    min-width: 0%;
    height: auto;

}


/* footer */

footer {
    margin-top: 50px;
    background-color: #c7c7c72a;
    width: 100%;
    display: flex;
    padding: 50px;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    width: 250px;
    gap: 25px;
    text-align: center;
}

footer ul li:first-child{
    font-weight: 600;
}

.copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}